footer {
    background-color: #232323;
    height: 271px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: "Josefin Sans";
}