.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 820px;
    background-image: url(/images/heroimage.png);
    background-size: cover;
    font-family: "Josefin Sans";
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 0px;
}

.title-text {
    font-size: 22px;
    margin-top: 0px;
}

input {
    width: 653px;
    height: 63px;
    text-align: center;
    border: none;
    font-size: 14px;
}

.search-btn {
    background-color: #5474FD;
    color: white;
    font-family: "Aleo";
    width: 153px;
    height: 63px;
    border: none;
    font-size: 14px;
} 

.hero-scroll {
    display: flex;
}

.search-btn:hover {
    background-color: #96a8f8;
}