.test-section {
    background-image: url(/images/manimg1.png);
    background-size: cover;
    min-height: 730px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.test-title {
    color: white;
    font-family: "Aleo";
    font-size: 36px;
    margin-bottom: 90px;
}

.test-container {
    display: flex;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 287px;
    background-color: #333333;
    color: white;
    font-family: "Josefin Sans";
    padding: 15px;
}

.test-p {
    width: 581px;

}